__pycache__/
*.py[cod]
*$py.class
*.so
instance/
venv/
.env
*.db
static/uploads/classifications/*
static/uploads/logo/*
static/uploads/favicon/*
!static/uploads/logo/.gitkeep
!static/uploads/favicon/.gitkeep
!static/uploads/classifications/.gitkeep
